* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  body {
    background: linear-gradient(to right, #c71d1d, #7e1a1a);
    color: white;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  nav {
    display: flex;
    gap: 30px;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .logo {
    font-weight: bold;
    font-size: 2em;
  }
  .lost-title {
    text-align: center;
    margin-top: 20px;
  }
  .lost-title h1 {
    font-size: 32px;
    font-weight: bold;
  }
  .lost-title p {
    font-size: 14px;
    margin-top: 5px;
  }
  .items-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;
    flex-wrap: wrap;
  }
  .item-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .item-card img {
    width: 100%;
    height: 150px;
    background-color: #1a4fb9;
    margin-bottom: 15px;
  }
  .item-card h3 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .item-card ul {
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .claim-btn {
    background-color: #000000;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #7e1a1a;
    font-size: 14px;
  }

  #post{
      background-color: #ffffff;
      color: black;
      font-weight: bold;
      width: 170px;
      height: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 40px auto;
      border-radius: 8px;
  }

  select{ 
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
  }

  nav a {
      color: white;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 20px;
      }
  nav a:hover {
      background-color: white;
      color: #d32f2f;
      }

      p a{
        text-decoration: none;
        color: black;
      }
      p a:hover{
        background-color: #000000;
      color: rgb(255, 255, 255);
      font-weight: bold;
      width: 170px;
      height: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 40px auto;
      border-radius: 8px;
      }



      .claim-btn a{
   text-decoration: none;
   color: white;

  }